<mat-card>
  <mat-card-title>
    Signal driver configuration
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="signalDrivers" class="mat-elevation-z8">

      <!-- Signal type Column -->
      <ng-container matColumnDef="signalType">
        <th mat-header-cell *matHeaderCellDef> Signal type </th>
        <td mat-cell *matCellDef="let signal"> {{signal.signalType}} </td>
      </ng-container>

      <!-- Low value Column -->
      <ng-container matColumnDef="low">
        <th mat-header-cell *matHeaderCellDef> Low value </th>
        <td mat-cell *matCellDef="let signal">
          <mat-form-field appearance="fill">
            <mat-label>Lowest value for signal</mat-label>
            <input type="number" [disabled]="signal.running" [(ngModel)]="signal.low" matInput
              [matTooltipDisabled]="!signal.running" matTooltip="Driver needs to be stopped in order to make changes.">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- High value Column -->
      <ng-container matColumnDef="high">
        <th mat-header-cell *matHeaderCellDef> High value </th>
        <td mat-cell *matCellDef="let signal">
          <mat-form-field appearance="fill">
            <mat-label>Highest value for signal</mat-label>
            <input type="number" [disabled]="signal.running" [(ngModel)]="signal.high" matInput
              [matTooltipDisabled]="!signal.running" matTooltip="Driver needs to be stopped in order to make changes.">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Frequency Column -->
      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef> Frequency (ms) </th>
        <td mat-cell *matCellDef="let signal">
          <mat-form-field appearance="fill">
            <mat-label>Frequency of sedning signal value (ms)</mat-label>
            <input type="number" [disabled]="signal.running" [(ngModel)]="signal.frequency" matInput
              [matTooltipDisabled]="!signal.running" matTooltip="Driver needs to be stopped in order to make changes.">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let signal">
          <button *ngIf="!signal.running" mat-button color="success" (click)="startDriver(signal)">Start driver</button>
          <button *ngIf="signal.running" mat-button color="warn" (click)="stopDriver(signal)">Stop driver</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>